.userlist {
  max-width: 45%;
  margin: 1rem auto;
  padding: 1rem 0.9rem;
  background-color: white;
  border-radius: 12px;
  list-style-type: none;
}

.userlist li {
  font-family: arial;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0.5rem 0rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid #808080;
  border-radius: 3px;
}
